# dependencies
/node_modules
mobile/fhssNews/node_modules
server/node_modules
web/node_modules

mobile/fhssNews/npm-debug.log
server/npm-debug.log
web/npm-debug.log

# testing
mobile/fhssNews/coverage

# production
mobile/fhssNews/build
server/build
web/build

mobile/fhssNews/android/app/build
mobile/fhssNews/ios/Pods

# misc
.env
.DS_Store
